.catalog_papa1 {
  display: flex;
  justify-content: space-between;
}
.catalog_items1 {
  width: 330px;
  height: 430px;
  border-radius: 6px;
}
.catalog_a1 {
  background: url(../img/for_home/fone1.png);
  background-size: cover;
  border-radius: 6px;
}
.catalog h2 {
  margin-top: 140px;
}
.catalog_item1 {
  background: url(../img/for_home/item1.png) no-repeat;
}

.catalog_item2 {
  background: url(../img/for_home/item2.png) no-repeat;
}
.catalog_papa2 {
  width: 690px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog_items2 {
  width: 330px;
  height: 200px;
  border-radius: 6px;
}
.catalog_item3 {
  background: url(../img/for_home/item3.png) no-repeat 115px 0px;
}
.catalog_item4 {
  background: url(../img/for_home/item4.png) no-repeat 115px 0px;
}
.catalog_item5 {
  background: url(../img/for_home/item5.png) no-repeat 133px 0px;
}
.catalog_item6 {
  background: url(../img/for_home/item6.png) no-repeat 113px 0px;
}
.mgt30 {
  margin-top: 30px;
}
.catalog_papa3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 42px;
}
.catalog_items3 {
  width: 330px;
  height: 280px;
  display: flex;
  border-radius: 6px;
}
.catalog_item7 {
  background: url(../img/for_home/item7.png) no-repeat 55px 0px;
}
.catalog_item8 {
  background: url(../img/for_home/item8.png) no-repeat 55px 0px;
}
.catalog_item9 {
  background: url(../img/for_home/item9.png) no-repeat 50px 0px;
}
.catalog_item10 {
  background: url(../img/for_home/item10.png) no-repeat 55px 0px;
}
.catalog_items4 {
  width: 690px;
  height: 280px;
  display: flex;
  border-radius: 6px;
}
.catalog_item11 {
  background: url(../img/for_home/item11.png) no-repeat 110px 0px;
}
.catalog_item12 {
  background: url(../img/for_home/item12.png) no-repeat 55px 0px;
}
.catalog_item13 {
  background: url(../img/for_home/item13.png) no-repeat 55px 0px;
}
.catalog_item14 {
  background: url(../img/for_home/item14.png) no-repeat 55px 0px;
}
.catalog_item15 {
  background: url(../img/for_home/item15.png) no-repeat 54px 0px;
}
.catalog_item16 {
  background: url(../img/for_home/item16.png) no-repeat 50px 0px;
}
.catalog_item17 {
  background: url(../img/for_home/item17.png) no-repeat 55px 15px;
}

.catalog h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;
  color: #1a1a25;
  padding-left: 30px;
  padding-top: 30px;
}

.catalog_a1:hover {
  background: url(../img/for_home/fone_big.png);
  background-size: cover;
  transition: 1s;
}

.catalog_a1:hover h4 {
  color: #fff;
  transition: 1s;
}

.catalog_btn2 {
  display: inline-block;
  font-weight: 700;
  line-height: 17px;
  color: #f53b49;
  border: 1px solid #f53b49;
  padding: 12px 20px 13px 20px;
  border-radius: 6px;
}
.catalog_btn2:hover {
  background-color: #f53b49;
  color: #fff;
  transition: 0.4;
}
.btn2_mt42 {
  margin-top: 42px;
}
.about_a_svg:hover,
.about_a_svg_w:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
