* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #f7f7f7;
  overflow-x: hidden;

  /* background: url(../img/for_home/back.png) no-repeat ;
  background-size: cover; */
}

.container {
  width: 1410px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
h1 {
  font-weight: 800;
  font-size: 38px;
  line-height: 1.1;
  color: #f53b49;
  padding-top: 50px;
  padding-bottom: 23px;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  /* color: #1a1a25; */
  margin-top: 120px;
  margin-bottom: 30px;
  color: #f53b49;
}
hr {
  height: 1px;
  border: none;
  color: rgba(133, 143, 164, 0.2);
  background-color: rgba(133, 143, 164, 0.2);
  height: 1px;
  margin-bottom: 30px;
}

/* .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  width: 176px;
  height: 52px;
  left: 1630px;
  top: 19px;
  background: #f6f4fe;
  border: 1px solid #6743ef;
  box-shadow: 0px 4px 0px #6743ef;
  border-radius: 100px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #6743ef;
} */
a {
  text-decoration: none;
}
