@media all and (max-width: 1460px) {
  body .container {
    width: 960px;
    margin: 0 auto;
  }
  .au_banner div:nth-child(2) img {
    width: 500px;
  }
  .au_banner {
    height: 375px;
  }
  .au_banner h3 {
    font-size: 24px;

    line-height: 110%;

    margin-left: 40px;
  }
  .au_menu {
    display: none;
  }
  .au_content {
    flex-basis: 960px;
    border-left: 0px;
  }
  .au_content_p {
    margin-left: 0px;
    margin-top: 0px;
  }
  .au_menu2 {
    display: flex;
    width: 960px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 143, 164, 0.2);
  }
  .au_menu li {
    border-bottom: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .au_includ {
    display: flex;
    margin-top: 20px;
  }
  .au_grey_line {
    margin-left: 0px;
    width: 960px;
  }
  .au_mi_segodnya {
    margin-left: 0px;
  }

  .au_photo img {
    width: 470px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .au_the-reason div {
    width: 470px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .au_the-reason div img {
    width: 470px;
  }
  .about_us_footer {
    margin-top: 60px;
  }

  /* PAGE CARDS */
  #tabs .tabs_big_img {
    width: 500px;
  }
  #tabs .tabs_small_img {
    width: 55px;
  }
  .img-right_side {
    width: 440px;
    margin-left: 20px;
  }
  .delivery {
    width: 440px;
  }
  .haract-price {
    width: 440px;
    padding-top: 10px;
  }
  .haract-price div {
    width: 220px;
  }
  .haract-price p {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 120%;
  }
  .haract-price a {
    font-size: 14px;
    margin-right: 10px;
    line-height: 120%;
  }
  .haract-price span {
    font-size: 14px;
    line-height: 120%;
  }
  .like img {
    margin-right: 1px;
  }
  .likeBr {
    display: block;
  }
  .vnalichii {
    margin-left: 5px;
    margin-top: 10px;
    width: 210px;
  }

  .product_price1 h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  .product_price1 h4 {
    padding: 2px 8px;
    font-weight: 600;
    font-size: 15px;
    margin: 14px 10px 14px 20px;
  }
  .product_price1 h4 span {
    font-weight: 500;
    font-size: 13px;
  }
  .haract-price .pr_bonus {
  }
  .delivery img:nth-child(1) {
    width: 210px;
    height: 135px;
  }

  .delivery img:nth-child(2) {
    width: 210px;
    height: 190px;
    margin-left: 10px;
  }
  .delivery {
    height: 180px;
  }
  .footer_Card {
    margin-top: 110px;
  }

  /* Catalog_FOR */
  .banner_for {
    width: 960px;
  }
  .foterCatalogFor {
    margin-top: 80px;
  }

  /* projects */

  .project .pbimg {
    width: 960px;
  }
  .nasi_project div {
    flex-direction: 450px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .nasi_project div img {
    width: 420px;
  }
}
